$ul-red: #b10820;
$ul-red-medium: #850416;
$ul-red-dark: #5f3032;

$ul-yellow: #ffd451;
$ul-yellow-medium: #ef8200;
$ul-yellow-dark: #9e6214;

$ul-sand: #cbc0b7;
$ul-sand-medium: #ab9c8f;
$ul-sand-dark: #675545;

$ul-green: #8fd400;
$ul-green-medium: #3d9b35;
$ul-green-dark: #235937;

$ul-blue: #55bab7;
$ul-blue-medium: #007987;
$ul-blue-dark: #002b45;
$ul-action-primary: #4a92e2;
$ul-action-danger: #e54c50;
$ul-blue-sky: #0094ff;
$ul-blue-light: #0099c1;

$ul-black: #000;
$ul-white: #fff;
$ul-gray: #939598;

$ul-gray-98a8bc: #98a8bc;
$ul-gray-light: #d0d0d0;
$ul-gray-light2: #e5e5e5;
$ul-gray-light-blue: #e1e4e8;
$ul-gray-white: #f0f3f7;
$ul-gray-dark: #a6a6a6;
$ul-gray-dark2: #808080;
$ul-gray-dark1: #58666e;

$error-red: #f00;
$error-red2: #cf0303;
$warning-red-light: #fff1f0;

$white-e6ebf0: #e6ebf0;
$deep-grey: #303646;
$offwhite-e1e4e8: #e1e4e8;

$ul-green-e2f7ab: #e2f7ab;
$ul-pink-light: #fbc2c3;

$ul-orange: #FFA500;

$faded-blue: #c6cfdb;
$faded-gray: #f1f3f7;
