
.mat-dialog-container {
  padding: 0px !important;
}


.modal-section {
  padding: 25px 25px 25px 25px;
  border-bottom: 2px solid #e5e5e5;
}

.cdk-overlay-container{
    z-index:4000 !important;
}

.cdk-overlay-pane{
    overflow:auto;
}
